.Footer {
  margin: 3rem auto;
  width: max-content;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
}

.Footer a {
  color: inherit;
  text-decoration: none;
  transition: 300ms ease-in-out;
}

.Footer a:hover{
  color: #ec8139;
}

